<div class="toast" *ngIf="toast.message$ | async as msg">
  <span *ngIf="msg">{{ msg }}</span>
</div>

<div class="loading-state" *ngIf="loader.loading$ | async">
  <span>Loading...</span>
</div>

<nav class="navigation-container">
  <div>
    <ul class="d-flex d-center gap-10">
      <li *ngIf="authService.isLoggedIn()">
        <a
          class="link"
          routerLink="/warehouses"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >Warehouses</a
        >
      </li>
      <li *ngIf="authService.isLoggedIn()">
        <a
          class="link"
          routerLink="/warehouse/add"
          routerLinkActive="active-link"
          >Add Warehouses</a
        >
      </li>
    </ul>
  </div>

  <div>
    <ul>
      <li *ngIf="authService.isLoggedIn()">
        <a class="logout-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
