.navigation {
  margin: 0 0 20px;
}

.link {
  cursor: pointer;
  border-bottom: 1px solid #00ffff;
}

.loading-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.353);
  display: flex;
  align-items: center;
  justify-content: center;
}
