.navigation-container {
  display: flex;
  justify-content: space-between;
  ul li {
    margin: 0 0 30px;
  }
}

.link {
  cursor: pointer;
  border-bottom: 1px solid #00ffff;
}

.active-link {
  color: #0fcf1f;
  border-bottom: 1px solid #0fcf1f;
}

.logged-in-link {
  cursor: pointer;
  color: #0fcf1f;
  border-bottom: 1px solid #0fcf1f;
}

.logout-link {
  cursor: pointer;
  color: #ff4c4c;
  border-bottom: 1px solid #ff4c4c;
}

.loading-state {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.353);
  display: flex;
  align-items: center;
  justify-content: center;
}
